body {
  font-family: 'Lato', serif;
  background-color:#282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table-dark {
  background-color: inherit;
}

.form-control:focus {
  border-color: #61dafb;
}

.btn {
  border-radius: 0;
}

.btn-custom {
  background-color: #61dafb;
  color: #282c34;
}

.btn-custom:hover {
  background-color: #2EA7C8;
}       

.btn-custom:focus {
  background-color: #2EA7C8;
  box-shadow: none;
}

.btn-custom-red {
  color: #e83e8c;
  background-color: inherit;
  border-color: #e83e8c;
}

.btn-custom-red:hover {
  color: #343a40;
  background-color: #e83e8c;
  border-color: #e83e8c;
}

.btn-custom-red:focus {
  color: #343a40;
  background-color: #e83e8c;
  border-color: #e83e8c;
  box-shadow: none;
}

.deletion-x {
  color: #e83e8c;
  border: 2px solid #e83e8c;
  border-radius: 4%;
  font-weight: bold;
}

.deletion-x:hover {
  color: #cd186b;
  border: 2px solid #cd186b;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-link:hover, .App-link:focus {
  color: #2EA7C8;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}